/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,600;1,700;1,800;1,900&display=swap");

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	position: relative;
	font-family: "Poppins", sans-serif;
	overflow: hidden;
}

.wrapper::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../assets/satellite.jpg") no-repeat center center/cover;
	filter: blur(5px); /* Adjust the blur radius as needed */
	-webkit-filter: blur(5px);
	z-index: -1; /* Ensure the background is behind the content */
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	text-align: center;
}

.title {
	color: white;
	font-size: 3rem;
}

.titleFocus {
	color: #079c57;
}

.subtitle {
	color: white;
	font-size: 1rem;
	margin-bottom: 2rem;
}

.buttonContainer {
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
}

.button {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: 0.3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #079c57;
	box-shadow: inset 0 0 0 2px #079c57;
	background-color: transparent;
	height: 48px;
}

.button:hover {
	color: #fff;
	box-shadow: inset 0 0 0 2px #079c57;
	background-color: #079c57;
	box-shadow: 10px 10px 105px -10px rgba(7,156,87,1);
}
