/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,600;1,700;1,800;1,900&display=swap");

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
}

.left {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 2rem;
	width: 100%;
	max-width: 500px;
	border: 1px solid #000;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card:focus {
	outline: none;
	border: 2px solid #079c57;
}

.formGroup {
	margin-bottom: 1.5rem;
}

.button {
	background-color: #079c57;
	border: none;
	padding: 0.75rem;
	font-size: 1.1rem;
}

.button:hover {
	transform: scale(1.05);
	background-color: #079c57;
}

.right {
	flex: 1;
	background: url("../assets/satellite.jpg") no-repeat center center/cover;
	margin-left: 2rem;
	width: 50%;
	height: 100vh;
	filter: grayscale(100%);
}

@media (max-width: 768px) {
	.right {
		display: none;
	}
}
