/** @format */

.background {
	background-image: url("../assets/RequirementForm.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.formContainer {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	height: 480px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: #45a049;
	font-size: 2rem;
	margin-bottom: 10px;
}

.subtitle {
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}

.optionsContainer {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	color: #fff;
	gap: 20px;
}

.option {
	text-align: center;
	cursor: pointer;
	padding: 10px;
	border-radius: 8px;
	transition: background-color 0.3s;
}
.optionSub {
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
}

.option:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid #4caf50;
}

.selected {
	border: 2px solid #4caf50;
}

.icon {
	width: 130px;
	height: 100px;
	margin-bottom: 10px;
}

.submitButton {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #3d8540;
	color: white;
	border: none;
	border-radius: 3rem;
	cursor: pointer;
}

.submitButton:hover {
	background-color: rgba(69, 160, 73);
	box-shadow: inset 0 0 0 2px #012d18 !important;
	box-shadow: 10px 10px 105px -10px rgb(2, 96, 52) !important;
	transform: scale(0.96);
}
